{% extends 'app/page.html' %}
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% block search %}
    <h5> Result search for {{searched}} </h5> <br />
    <div class="row products-container">
        {%for product in products%}
        <div class="product-card">
            <img class="product-thumbnail" src="{{product.ImageURL}}" alt="{{product.name}}">
            <div class="product-info">
                <a href="url-to-product-details" class="product-name" style="text-decoration: none !important;">{{product.name}}</a>
                <a href="url-to-product-price-action-or-details" class="product-price" style="text-decoration: none !important;" >{{product.formatted_price}}</a>
                <div class="button-group">
                  <button data-product= {{product.id}} data-action= "add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                  <a class="btn btn-outline-success" href="{%url 'detail'%}?id={{product.id}}">View</a>
                </div>
            </div>
         </div>
      {% endfor %}
    </div>
    
    {% endblock search %}
</body>

</html>