{% extends 'app/page.html' %}
{% load static %}
{% block content_checkout %}
     <div class="row" style= "width: 100%">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="mobile" placeholder="Phone..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Country..">
						</div>
					</div>

					<hr>
					{% comment %} <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue"> {% endcomment %}
				</form>
			</div>

			<br>

			<script src="https://www.paypal.com/sdk/js?client-id=AVLDQpu8QPJNfAATCK8GWgYxIzPkT3Dfp1mid_UO5TGwOBkMtD7esGAacVkPTSIKLLsxSLiAD3oSCTXO&currency=USD"></script>
            <div id="paypal-button-container"></div>

            <script>
				function getCookie(name) {
					let cookieValue = null;
					if (document.cookie && document.cookie !== '') {
						const cookies = document.cookie.split(';');
						for (let i = 0; i < cookies.length; i++) {
							const cookie = cookies[i].trim();
							if (cookie.substring(0, name.length + 1) === (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				const orderId = "{{ order.id }}";
				paypal.Buttons({
					createOrder: function(data, actions) {
						return fetch('/path/to/create_paypal_transaction/', {
							method: 'post',
							headers: {
								'Content-Type': 'application/json',
								'X-CSRFToken': getCookie('csrftoken')
							},
							body: JSON.stringify({
								orderID: orderId,
								txID: data.orderID
							})
						}).then(function(res) {
							return res.json();
						}).then(function(data) {
							return data.orderID; // Sử dụng ID đơn hàng từ response đã nhận
						});
					},
					onApprove: function(data, actions) {
						return actions.order.capture().then(function(details) {
							// Sau khi thanh toán thành công, chuyển hướng đến trang thành công
							window.location.href = '/payment/success/';
						});
					},
					onError: function(err) {
						console.error(err);
					}
				}).render('#paypal-button-container');
			</script>
			</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>{{item.product.formatted_price}}</p></div>
					<div style="flex:1"><p>{{item.quantity}}</p></div>
				</div>
				{% endfor%}
				<h5>Số lượng:   {{order.get_cart_items}}</h5>
				<h5>Tổng thanh toán:   {{order.get_cart_total}}</h5>
			</div>
		</div>
	</div>
{% endblock content_checkout %}