{% extends 'app/page.html' %}
{% load static %}
{% block banner_slider %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="Sách hay tặng bạn">
        
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="Sách mới">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="Khuyến mãi lên đến 40%">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="Ưu đãi cực sốc">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>  
{%endblock banner_slider %}
{% block main-content %}
<div class="headline">
  <h3>Sản phẩm bán chạy</h3>
</div>
<div class="row products-container">
  {%for product in products%}
    <div class="product-card">
        <img class="product-thumbnail" src="{{product.ImageURL}}" alt="{{product.name}}">
        <div class="product-info">
            <a href="url-to-product-details" class="product-name" style="text-decoration: none !important;">{{product.name}}</a>
            <a href="url-to-product-price-action-or-details" class="product-price" style="text-decoration: none !important;" >{{product.formatted_price}}</a>
            <div class="button-group">
              <button data-product= {{product.id}} data-action= "add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
              <a class="btn btn-outline-success" href="{%url 'detail'%}?id={{product.id}}">View</a>
            </div>
        </div>
     </div>
  {% endfor %}
</div>

{% endblock main-content %}