body {
	background-color: hsl(0, 0%, 98%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: hsl(0, 0%, 30%);
}

.products-container {
	display: flex;
	width: 100%;
}

.product-card {
	box-shadow: hsl(0, 0%, 80%) 0 0 16px;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	width: 28%;
	margin: 0 15px 30px;
	position: relative;
	display: inline-block;
	margin-left: 4%;
}

.product-thumbnail {
	width: 100%;
	height: auto;
}

.product-info {
	padding: 10px 0;
}

.product-info h5 {
	min-height: 60px;
	/* Hoặc giá trị khác phù hợp */
	overflow: hidden;
}

.product-label {
	background-color: #FFD700;
	/* Màu vàng */
	padding: 2px 10px;
	font-size: 12px;
	display: inline-block;
	border-radius: 4px;
}

.product-rating {
	font-size: 14px;
}

.product-price {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

.button-group {
	text-align: center;
}

.bg-dark {
	background-color: #4f868c !important;
}

#cart-container {
	position: relative;
	display: inline-block;
}

#cart-icon {
	width: 40px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}

#cart-total {
	position: absolute;
	top: -8px;
	right: -1px;
	text-align: center;
	color: #fff;
	background-color: red;
	width: 20px;
	height: 22px;
	line-height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
	margin-top: 10px;
}

.btn {
	border-radius: 0;
}

.row-image {
	width: 90px;
}

.form-field {
	width: 250px;
	display: inline-block;
	padding: 5px;
}

.cart-row {
	display: flex;
	align-items: flex-stretch;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ececec;

}

.quantity {
	display: inline-block;
	font-weight: 700;
	padding-right: 10px;


}

.chg-quantity {
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition: .1s;
}

.chg-quantity:hover {
	opacity: .6;
}


.hidden {
	display: none !important;
}

.increase-margin-left {
	margin-left: 20px;
}

.separator {
	margin: 0 5px;
}

.no-wrap {
	white-space: nowrap;
}

body,
html {
	font-family: Arial, sans-serif;
}

.search-form {
	display: flex;
	align-items: center;
	border: 1px solid rgb(221, 221, 227);
	border-radius: 8px;
	overflow: hidden;
}

.search-btn {
	padding: 10px 12px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px 0 0 5px;
	color: #0d6dfda0;
}

.search-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.search-btn:hover {
	background-color: rgba(2, 117, 241, 0.56);
}

.search-input {
	width: 100%;
	display: flex;
	position: relative;
	border: 1px solid rgb(221, 221, 227);
	border-radius: 8px;
	-webkit-box-align: center;
	align-items: center;
}

.search-input:focus {
	outline: none;
	box-shadow: none;
}

.search-form,
.search-input,
.search-btn {
	background-color: #FFFFFF;
}

.user-container {
	position: relative;
	z-index: 2;
	display: inline-block;
	padding: 8px 16px;
	border-radius: 8px;
	color: #007BFF;
	cursor: pointer;
}

.user-container:hover {
	background-color: rgba(2, 117, 241, 0.412);
	border-radius: 8px;
}

.user-dropdown {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	min-width: 200px;
	z-index: 1;
}

.user-dropdown a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.user-dropdown a:hover {
	background-color: #ddd;
}

.user-container:hover .user-dropdown {
	display: block;
}

.user-container img {
	margin-right: 10px;
}

.user-name:hover a {
	display: inline;
}